
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Danh sách cấu hình cảnh báo</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards">Home</a>
            </li>
            <li>
                <a>Quản lý cảnh báo</a>
            </li>
            <li class="active">
                <strong>Cấu hình cảnh báo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-init="initData()">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click="enableAddWarningProfile()"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới cấu hình cảnh báo</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>DANH SÁCH CẤU HÌNH CẢNH BÁO </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="">
                                    <th>Id</th>
                                    <th>Tham số</th>
                                    <th>Ngưỡng trên</th>
                                    <th>Ngưỡng dưới</th>
                                    <th>Thời gian cập nhật cảnh báo</th>
                                    <th>Mức độ cảnh báo</th>
                                  
                                    
                                    <th width="10%">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in warningprofiles">
                               <td>{{item.Id}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Up_Thres}}</td>
                                    <td>{{item.Low_Thres}}</td>
                                    <td>{{item.ProcessTimeOut}}</td>
                                    <td>{{item.WarningContent}}</td>
                                  
                                    
                                    <td>
                                        <span class="input-group-btn dropleft">
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Tùy chọn<span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                                <li ng-click="enableEditWarningProfile(item)"><a href="">Sửa cấu hình</a></li>
                                                <li>  <button style="margin-left:40%" class="btn  btn-sm btn-danger" ng-click="deleteWarningProfile(item.Id)"><i class="fa fa-trash"></i></button></li>
                                            </ul>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                           
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="form-warning" class="modal fade in" aria-hidden="true" style="padding-right: 17px;">
        <div class="modal-dialog" style="width:65%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" ng-show="isEditWarningProfile">Cập nhật cấu hình cảnh báo {{warningprofile.Name}}</h3>
                    <h3 class="modal-title" ng-show="!isEditWarningProfile">Tạo mới cấu hình cảnh báo</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" name="frmWarningProfile" role="form" ng-submit="updateWarningProfile()">
                                                                                                         
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label">Tham số (*)</label>
                                        <div class="col-sm-8"><input type="text" class="form-control" ng-model="warningprofile.Name" required></div>
                                    </div>
                                    
                                </div>
                              
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label">Ngưỡng trên (*) </label>
                                        <div class="col-sm-8"><input type="number" class="form-control" ng-model="warningprofile.Up_Thres" required></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label">Ngưỡng dưới (*) </label>
                                        <div class="col-sm-8"><input type="number" class="form-control" ng-model="warningprofile.Low_Thres" required></div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label">Thời gian cập nhật cảnh báo (*) </label>
                                        <div class="col-sm-8"><input type="number" class="form-control" ng-model="warningprofile.ProcessTimeOut" required></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label">Nội dung cảnh báo (*) </label>
                                        <div class="col-sm-8"><input type="text" class="form-control" ng-model="warningprofile.WarningContent" required></div>
                                    </div>
                                    
                                 
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div>
                                    <button class="btn btn-sm btn-danger pull-right m-t-n-xs" style="padding: 5px 20px; margin-left: 10px;" type="button" ng-click="closeEditForm()"><strong>Hủy</strong></button>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" style="padding: 5px 20px;" ng-disabled="frmWarningProfile.$invalid" type="submit"><strong>Lưu</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


