
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BKRES - PHU YEN / Admin</title>
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Admin/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/Content/Admin/js/plugins/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/Admin/js/plugins/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/Admin/datetimepicker/css/datetimepicker.css" rel="stylesheet" />

</head>
<body ng-app="app" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">
    <div ui-view></div>
    <script src="~/Content/Admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/moment/moment.min.js"></script>
    <script src="~/Content/Admin/js/angular/angular.min.js"></script>
    <script src="~/Content/Admin/js/plugins/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/Content/Admin/js/plugins/chosen/chosen.js"></script>
    <script src="~/Content/Admin/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Content/Admin/js/ui-bootstrap.js"></script>
    <script src="~/Content/Admin/js/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Content/Admin/datetimepicker/js/datetime-picker.js"></script>
    <script src="~/Content/Admin/js/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Content/Admin/js/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Admin/js/ckfinder/ckfinder.js"></script>
    <script src="~/Content/Admin/js/angular/angular-sanitize.js"></script>
    <script src="~/Content/Admin/js/ui-router/angular-ui-router.js"></script>
    <script src="~/Content/Admin/js/plugins/checklist-model/checklist-model.js"></script>
    <script src="~/Content/Admin/js/plugins/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="~/Content/Admin/js/plugins/pace/pace.min.js"></script>
    <script src="~/Content/Admin/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/Admin/js/inspinia.js"></script>
    <script src="~/Content/Admin/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Content/Admin/js/plugins/dataTables/angular-datatables.min.js"></script>
    <script src="~/Content/Admin/js/plugins/dataTables/angular-datatables.buttons.min.js"></script>
    <script src="~/Content/Admin/js/plugins/ngBootbox/ngBootbox.js"></script>
    <script src="~/Content/Admin/js/plugins/bootbox/bootbox.js"></script>
    <script src="~/Content/Admin/js/angular/angular-local-storage.js"></script>>
    <!--Angular Module-->
    <script src="~/app/app.config.js"></script>
    <script src="~/app/app.js"></script>

    <!--Filters-->
    <script src="~/app/filters/filters.js"></script>

    <!--Directives-->
    <script src="~/app/directives/directives.js"></script>

    <!--Services-->
    <script src="~/app/services/apiService.js"></script>
    <script src="~/app/services/authData.js"></script>
    <script src="~/app/services/authenticationService.js"></script>
    <script src="~/app/services/commonService.js"></script>
    <script src="~/app/services/loginService.js"></script>
    <script src="~/app/services/notificationService.js"></script>
    <!--Controllers-->
    <script src="~/app/controllers/login.controller.js"></script>
    <script src="~/app/controllers/dashboard.controller.js"></script>
    <script src="~/app/controllers/device.controller.js"></script>
    <script src="~/app/controllers/district.controller.js"></script>
    <script src="~/app/controllers/group.controller.js"></script>
    <script src="~/app/controllers/main.controller.js"></script>
    <script src="~/app/controllers/province.controller.js"></script>
    <script src="~/app/controllers/role.controller.js"></script>
    <script src="~/app/controllers/activitylog.js"></script>
    <script src="~/app/controllers/user.controller.js"></script>
    <script src="~/app/controllers/warningprofile.controller.js"></script>
</body>
</html>

